<launch>
    <!-- 将 xacro 文件内容设置进参数服务器 -->
    <!-- urdf调用方式 -->
    <!-- <param name="robot_description" textfile="$(find urdf_rviz)/urdf/urdf/t1_car.urdf" /> -->
    <!-- xacro调用方式 -->
    <param name="robot_description" command="$(find xacro)/xacro $(find nav_demo)/xacro/t4_123combine.xacro" />
 
    <!-- 启动 rivz -->
    <node pkg="rviz" type="rviz" name="rviz" />
    <!-- <node pkg="rviz" type="rviz" name="rviz" /> -->
 
    <!-- 启动机器人状态和关节状态发布节点 -->
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" />
 
    <!-- 集成 arbotix 运动控制节点，加载参数 -->
    <node name="arbotix" pkg="arbotix_python" type="arbotix_driver" output="screen">
        <!-- <rosparam file="$(find 工作空间)/config/文件名.yaml" command="load" /> -->
        <rosparam file="$(find nav_demo)/config/control.yaml" command="load" />
        <param name="sim" value="true" />
   </node>
</launch>