<robot xmlns:xacro="http://ros.org/wiki/xacro" name="robot_base">

    <link name="map"></link>

    <joint name="map2odom" type="fixed">
        <parent link="map" />
        <child link="odom" />
        <origin rpy="0 0 0" xyz="0.1 0.1 0.1" />
    </joint>    

    <link name="odom"></link>

    <joint name="odom2base" type="fixed">
        <parent link="odom" />
        <child link="base_link" />
        <origin rpy="0 0 0" xyz="0.1 0.1 0.1" />
    </joint>

    <link name="base_link"></link>

    
</robot>
